<div class="p-5 col-md-12">
  <div class="col-md-4 m-auto p-2">
    <div class="input-group">
      <input id="filter" type="number" class="form-control" [(ngModel)]="height" (keyup.enter)="getPlayers()">
      <div class="input-group-append" (click)="getPlayers()">
        <label class="input-group-text" for="filter" style="cursor: pointer;"><i class="fas fa-search"></i></label>
      </div>
    </div>
  </div>

  <div *ngIf="error" class="alert alert-danger" role="alert">
    An error has occurred. Please try again.
  </div>

  <div class="card">
    <div class="card-header d-flex">
      <span>Results{{ results ? ': ' + results.length : ''}}</span>
    </div>
    <div class="card-body">
      <small *ngIf="results && results.length == 0" class="text-muted">No matches found</small>
      <table *ngIf="results && results.length > 0" class="table table-bordered small">
        <tbody>
        <tr *ngFor="let result of results">
          <td><strong>{{getFullName(result.first)}}</strong> {{getDisplayableHeight(result.first)}}</td>
          <td><strong>{{getFullName(result.second)}}</strong> {{getDisplayableHeight(result.second)}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div id="loader" *ngIf="loading">
  <div class="spinner-border text-light" role="status">
    <span class="visually-hidden"></span>
  </div>
</div>
