<div #mainContainer class="p-5 col-md-12">
  <div class="col-md-4 m-auto p-2">
    <div class="input-group">
      <input id="filter" type="text" class="form-control" [(ngModel)]="height" (keyup.enter)="getPlayers()">
      <div class="input-group-append" (click)="getPlayers()">
        <label class="input-group-text" for="filter" style="cursor: pointer;"><i class="fas fa-search"></i></label>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header d-flex">
      <span>Result</span>
    </div>
    <div class="card-body">
      <small *ngIf="results && results.length == 0" class="text-muted">No matches found</small>
      <table *ngIf="results && results.length > 0" class="table table-striped table-bordered small">
        <tbody>
        <tr *ngFor="let result of results">
          <td>{{getFullName(result.first)}}</td>
          <td>{{getFullName(result.second)}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
